name: my_flutter_app
description: A minimal Flutter app scaffold created by Copilot.
publish_to: 'none'
version: 0.1.0+1

environment:
  sdk: ">=2.17.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.5
  http: ^1.1.0
  flutter_riverpod: ^2.3.6
  go_router: ^7.0.0
  cached_network_image: ^3.2.3
  flutter_svg: ^2.0.7
  google_fonts: ^4.0.3
  firebase_core: ^2.6.1
  firebase_auth: ^4.4.0
  cloud_firestore: ^4.6.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - assets/icons/
  fonts:
    - family: Roboto
      fonts:
        - asset: assets/fonts/Roboto-Regular.ttf
